<html>
    <head>
	<link rel="stylesheet" href="{{ url_for('static', filename='js/tablesaw/tablesaw.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='fixedsticky.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/tablesaw/tablesaw.jquery.persistcolumns.js') }}"></script>
	<script src="{{ url_for('static', filename='js/fixedsticky.js') }}"></script>
	<style>
		span.favorite:after
		{
			content:url('{{ url_for('static', filename='img/favorite.png') }}');
		}
		span.special-party-hat:after
		{
			content:url('{{ url_for('static', filename='img/party-hat.png') }}');
		}
		span.special-santa-hat:after
		{
			content:url('{{ url_for('static', filename='img/santa-hat.png') }}');
		}
		div#wait
		{
			background: url('{{ url_for('static', filename='img/loading.gif') }}') no-repeat;
			display: none;
			width:26px;
			height:26px;
			float:right;
		}
		.top { top: 0px; }
		.tablecontainer { width: 100%; margin: 0 auto; }
		table.poketable th, table.poketable td { line-height: 1 ; }
		table.poketable { width: 100%; border-collapse: collapse; }
	</style>
	<title>Pokevaluator: {{ accountdata['user'] }} </title>
	<script>
	columns = [
		{% for column in pokemon_columns %}{'key': '{{ column[0] }}', 'name': '{{ column[1] }}', 'column_types': [{% for type in column[2]%}'{{type}}', {%endfor%}] },{% endfor %}
	];
	pokemoncell = function(pokemon, column) {
		cell = $('<td id=' + column.key + '></td>')
		if(column.key == 'name'){
			name = pokemon['nickname'] ? pokemon['name'] + " (" + pokemon['nickname'] + ")" : pokemon['name']
			span = $('<span>' + name + '</span>');
			cell.append(span);
			if(pokemon['favorite']) { $(cell).children().addClass('favorite') }
			specials = $('<span></span>');
			$.each(pokemon['special_types'],function(k,special) {
				$(specials).addClass('special-' + special);
			})
			cell.append(specials);
			return cell;
		}
		if(column.key == 'max_cp_at_max_evolution') {
			cell.append($('<span>' + pokemon[column.key][0] + ' (' + ('0000'+pokemon[column.key][1]).slice(-3) + ')</span>'))
			return cell
		}
		cell.append($('<span>' + pokemon[column.key] + '</span>'))
		return cell
	};
	pokemonrow = function(pokemon) {
		row = $('<tr id="' + pokemon['id'] + '"></tr>')
		row.append($('<td><input type="checkbox" id="selected_pokemon" name="selected_pokemon" value="' + pokemon['id'] + '"></td>'))
		$.each(columns,function(k,column){
			row.append(pokemoncell(pokemon,column))
		});
		return row
	};
	addpokemonrow = function(pokemon) {
		$('.poketable tbody').append(pokemonrow(pokemon))
	};
	updatepokemonrow = function(pokemon) {
		existingrow = $('.poketable tr#' + pokemon.id);
		if(existingrow.length == 0 && pokemon.previous_id) {
			existingrow = $('.poketable tr#' + pokemon.previous_id);
		}
		if(existingrow.length > 0) {
			// console.log("updating a pokemon row")
			// console.log(pokemon)
			existingrow.replaceWith(pokemonrow(pokemon))
		}
	};
	removepokemonrow = function(pokemon) {
		existingrow = $('.poketable tr#' + pokemon.id);
		if(existingrow.length > 0) {
			//console.log("removing a pokemon row")
			//console.log(pokemon)
			existingrow.remove()
		}
	}
	updateoradpokemonrow = function(pokemon) {
		existingrow = $('.poketable tr#' + pokemon.id);
		if(existingrow.length == 0 && pokemon.previous_id) {
			existingrow = $('.poketable tr#' + pokemon.previous_id);
		}
		if(existingrow.length > 0) {
			updatepokemonrow(pokemon);
		} else {
			addpokemonrow(pokemon);
		}
	};
	refreshtablesaw = function() {
		$('#poketable').removeData(); // remove any data tablesaw has associated with the table
		// $('#poketable').tablesaw(); //call the plugin again
		$('.tablesaw-bar').remove();
		$( document ).trigger( "enhance.tablesaw" );
	}
	updatepokemontable = function(partydelta,fullrefresh=false) {
		// console.log("updating the pokemon table")
		// console.log(partydelta)
		$.each(partydelta.added,function(k,pokemon){
			updateoradpokemonrow(pokemon)
		});
		$.each(partydelta.changed,function(k,pokemon){
			updateoradpokemonrow(pokemon)
		});
		$.each(partydelta.released,function(k,pokemon){
			removepokemonrow(pokemon)
		});
		if(fullrefresh){
			toremove = [];
			$.each($('#poketable tbody tr'), function(k,row) {
				for(i=0;i<partydelta.added.length;i++){
					if(partydelta.added[i].id == row.id) {
						return;
					}
				}
				toremove.push(row);
			});
			$(toremove).remove();
		}
		refreshtablesaw();
	}
	refreshwholeparty = function(fullrefresh=false) {
		url = "{{ url_for('api_account_party',accountname=accountname) }}";
		if(fullrefresh) { 
			url = "{{ url_for('api_account_party',accountname=accountname,refresh=True) }}";
		}
		$.ajax({
				url: url,
				success: function(data) {
					if(data.success) {
						updatepokemontable(data.partydelta,fullrefresh);
					}
				}
			});
	};
	togglefavoritepokemon = function(pokemonid) {
		console.log("favoriting " + pokemonid)
		$.ajax({
			url: "{{ url_for('api_toggle_favorite',accountname=accountname) }}",
			type: "POST",
			processData: false,
			contentType: 'application/json',
			data: JSON.stringify({"pokemon_ids": [pokemonid]}),
			success: function(data) {
				if(data.success) {
					updatepokemontable(data.partydelta);
				}
			}
		});
	};
	evolvepokemon = function(pokemonid) {
		console.log("evolving " + pokemonid)
		$.ajax({
			url: "{{ url_for('api_evolve',accountname=accountname) }}",
			type: "POST",
			processData: false,
			contentType: 'application/json',
			data: JSON.stringify({"pokemon_ids": [pokemonid]}),
			success: function(data) {
				if(data.success) {
					updatepokemontable(data.partydelta);
				}
			}
		});
	};
	releasepokemon = function(pokemonids) {
		console.log("releasing  " + pokemonids)
		$.ajax({
			url: "{{ url_for('api_release',accountname=accountname) }}",
			type: "POST",
			processData: false,
			contentType: 'application/json',
			data: JSON.stringify({"pokemon_ids": pokemonids}),
			success: function(data) {
				if(data.success) {
					updatepokemontable(data.partydelta);
				}
			}
		});
	};
	get_selected_pokemon = function() {
		return $('input#selected_pokemon:checked').map(function() { return $(this).val(); })
	}
	$(function(){
		$(document).ajaxStart(function(){
			$("#wait").css("display", "block");
		});
		$(document).ajaxComplete(function(){
			$("#wait").css("display", "none");
		});
		refreshwholeparty();
		$('th#sortable-checked').data('tablesaw-sort', function(ascending) {
			return function(a,b) {				
				// Ignore rows with data-tablesaw-ignorerow (leave them where they were)
				if( a.ignored || b.ignored ) {
					return 0;
				}
				achecked = $(a.element).find('input').is(':checked');
				bchecked = $(b.element).find('input').is(':checked');
				if(ascending){
					return achecked && !bchecked ? 1 : -1;
				}
				return bchecked && !achecked ? 1 : -1;
			};
		});
		$('#refreshlink').click(function(e) {
			refreshwholeparty(true);
			e.preventDefault();
			return false;
		});
		$('#go_action_on_selected').click(function(e) {
			action = $('#action_on_selected').find('option:selected').val();
			actions = {
				'favorite': {'call': togglefavoritepokemon, 'delay': 300},
				'evolve': {'call': evolvepokemon, 'delay': 4000},
				'release': {'call': releasepokemon, 'delay': 0}
			};
			if(actions[action]) {
				pokemon_ids = get_selected_pokemon()
				if(action == 'release') {
					ids = []
					for(i=0;i<pokemon_ids.length; i++){
						ids.push(pokemon_ids[i])
					}
					setTimeout(actions[action]['call'], 0,ids)
				} else {
					for(i=0;i<pokemon_ids.length; i++){
						setTimeout(actions[action]['call'], i*actions[action]['delay'],pokemon_ids[i])
					}
				}
			}
			e.handled = true;
		});
	});
	</script>
    </head>
    <body>
    Trainer Summary for {{ accountdata['user'] }}: (<a href="refresh" id="refreshlink">refresh</a>) <div id="wait"></div><br/>
    {{ userdata.botSummary() }} <a href="evolvelist">evolutions available</a>: {{ totalevolutions }} (~{{ totalevolutions*500 }}xp)<br/>
	stardust: {{ stardust }} // total stardust spent: {{ total_stardust_spent }} // stardust per day: {{ stardust_per_day }}
	<div class="tablecontainer">
	<input type="submit" name="release" formaction="release" value="release selected">
	<input type="submit" name="release" formaction="rspbke2p" value="release shitty pokemon but keep enough to powerlevel"  onclick="return confirm('are you sure you wanna release shitty pokemon??');">
	<select id="action_on_selected" name="action_on_selected">
		<option value="None" selected="selected">---</option>
		<option value="evolve">Evolve</option>
		<option value="favorite">Toggle favorite</option>
		<option value="release">Release</option>
	</select>
	<input type="submit" id="go_action_on_selected" name="go_action_on_selected" formaction="batch_action_on_selected" value="go!">
	<table id="poketable" class="poketable tablesaw-row-border tablesaw-row-zebra" data-tablesaw-sortable data-tablesaw-mode="columntoggle">
	<thead id="stickyheader" class="top">
	<tr>
		<th data-tablesaw-sortable-col id="sortable-checked">X</th>
	{% for column in pokemon_columns %}
		<th data-tablesaw-sortable-col data-tablesaw-priority="{{'persist' if column[1] == 'Pokemon Name' else '1'}}" {% for coltype in column[2] %} {{ coltype }} {% endfor %}>{{ column[1] }}</th>
	{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for p in [] %}
	<tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
			<td><input type="checkbox" name="selected_pokemon" value="{{ p['id'] }}"></td>
		{% for column in pokemon_columns %}
			<td><span class="{{'favorite ' if column[1] == 'Pokemon Name' and p['favorite'] else '' }}">{{ process_template_column(column[0],p) }}</span><span class="{% if column[1] == 'Pokemon Name' %}{% for special in p['special_types'] %}special-{{special}} {% endfor %}{% endif %}"></span></td>
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
</body>