<html>
    <head>
	<link rel="stylesheet" href="{{ url_for('static', filename='js/tablesaw/tablesaw.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='fixedsticky.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/tablesaw/tablesaw.jquery.persistcolumns.js') }}"></script>
	<script src="{{ url_for('static', filename='js/fixedsticky.js') }}"></script>
	<style>
		span.favorite:after
		{
			content:url('{{ url_for('static', filename='img/favorite.png') }}');
		}
		span.special-party-hat:after
		{
			content:url('{{ url_for('static', filename='img/party-hat.png') }}');
		}
		span.special-santa-hat:after
		{
			content:url('{{ url_for('static', filename='img/santa-hat.png') }}');
		}
		.top { top: 0px; }
		.tablecontainer { width: 100%; margin: 0 auto; }
		table.poketable th, table.poketable td { line-height: 1 ; }
		table.poketable { width: 100%; border-collapse: collapse; }
	</style>
	<title>Pokevaluator: {{ accountdata['user'] }} </title>
	<script>
	columns = [
		{% for column in pokemon_columns %}{'key': '{{ column[0] }}', 'name': '{{ column[1] }}', 'column_types': [{% for type in column[2]%}'{{type}}', {%endfor%}] },{% endfor %}
	];
	pokemoncell = function(pokemon, column) {
		cell = $('<td id=' + column.key + '></td>')
		if(column.key == 'name'){
			name = pokemon['nickname'] ? pokemon['name'] + " (" + pokemon['nickname'] + ")" : pokemon['name']
			span = $('<span>' + name + '</span>');
			cell.append(span);
			if(pokemon['favorite']) { $(cell).children().addClass('favorite') }
			specials = $('<span></span>');
			$.each(pokemon['special_types'],function(k,special) {
				$(specials).addClass('special-' + special);
			})
			cell.append(specials);
			return cell;
		}
		if(column.key == 'max_cp_at_max_evolution') {
			cell.append($('<span>' + pokemon[column.key][0] + ' (' + ('0000'+pokemon[column.key][1]).slice(-3) + ')</span>'))
			return cell
		}
		cell.append($('<span>' + pokemon[column.key] + '</span>'))
		return cell
	};
	pokemonrow = function(pokemon) {
		row = $('<tr id="' + pokemon.id + '"></tr>')
		row.append($('<td><input type="checkbox" id="selected_pokemon" name="selected_pokemon" value="' + pokemon['id'] + '"></td>'))
		$.each(columns,function(k,column){
			row.append(pokemoncell(pokemon,column))
		});
		return row
	};
	addpokemonrow = function(pokemon) {
		$('.poketable tbody').append(pokemonrow(pokemon))
	};
	updatepokemonrow = function(pokemon) {
		existingrow = $('.poketable tr#' + pokemon.id);
		if(existingrow.length > 0) {
			existingrow.replaceWith(pokemonrow(pokemon))
		}
	};
	updateoradpokemonrow = function(pokemon) {
		existingrow = $('.poketable tr#' + pokemon.id);
		if(existingrow.length > 0) {
			updatepokemonrow(pokemon);
		} else {
			addpokemonrow(pokemon);
		}
	};
	refreshtablesaw = function() {
		$( document ).trigger( "enhance.tablesaw" );
	}
	updatepokemontable = function(party) {
		$.each(party,function(k,pokemon){
			updateoradpokemonrow(pokemon)
		});
		refreshtablesaw();
	}
	refreshwholeparty = function() {
		$.ajax({
				url: "{{ url_for('api_account_party',accountname=accountname) }}",
				success: function(data) {
					if(data.success) {
						updatepokemontable(data.party);
					}
				}
			});
	};
	togglefavoritepokemon = function(pokemonid) {
		
	}
	$(function(){
		refreshwholeparty();
		$('th#sortable-checked').data('tablesaw-sort', function(ascending) {
			return function(a,b) {				
				// Ignore rows with data-tablesaw-ignorerow (leave them where they were)
				if( a.ignored || b.ignored ) {
					return 0;
				}
				achecked = $(a.element).find('input').is(':checked');
				bchecked = $(b.element).find('input').is(':checked');
				if(ascending){
					return achecked && !bchecked ? 1 : -1;
				}
				return bchecked && !achecked ? 1 : -1;
			};
		});
	});
	</script>
    </head>
    <body>
    Trainer Summary for {{ accountdata['user'] }}: (<a href="refresh">refresh</a>)<br/>
    {{ userdata.botSummary() }} <a href="evolvelist">evolutions available</a>: {{ totalevolutions }} (~{{ totalevolutions*500 }}xp)<br/>
	<div class="tablecontainer">
	<input type="submit" name="release" formaction="release" value="release selected">
	<input type="submit" name="release" formaction="rspbke2p" value="release shitty pokemon but keep enough to powerlevel"  onclick="return confirm('are you sure you wanna release shitty pokemon??');">
	<select name="action_on_selected">
		<option value="None" selected="selected">---</option>
		<option value="evolve">Evolve</option>
		<option value="favorite">Toggle favorite</option>
		<option value="release">Release</option>
	</select>
	<input type="submit" id="go_action_on_selected" name="go_action_on_selected" formaction="batch_action_on_selected" value="go!">
	<table class="poketable tablesaw-row-border tablesaw-row-zebra" data-tablesaw-sortable data-tablesaw-mode="columntoggle">
	<thead id="stickyheader" class="top">
	<tr>
		<th data-tablesaw-sortable-col id="sortable-checked">X</th>
	{% for column in pokemon_columns %}
		<th data-tablesaw-sortable-col data-tablesaw-priority="{{'persist' if column[1] == 'Pokemon Name' else '1'}}" {% for coltype in column[2] %} {{ coltype }} {% endfor %}>{{ column[1] }}</th>
	{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for p in [] %}
	<tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
			<td><input type="checkbox" name="selected_pokemon" value="{{ p['id'] }}"></td>
		{% for column in pokemon_columns %}
			<td><span class="{{'favorite ' if column[1] == 'Pokemon Name' and p['favorite'] else '' }}">{{ process_template_column(column[0],p) }}</span><span class="{% if column[1] == 'Pokemon Name' %}{% for special in p['special_types'] %}special-{{special}} {% endfor %}{% endif %}"></span></td>
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
</body>